*,
*::before *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
}
section {
  // padding: 3em 0;
  padding: 7em 0;
}
#about {
  padding-bottom: 10em;
}
.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  min-width: 15em;
}

.spacing > * + * {
  margin-top: var(--spacer, 3rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  margin-right: 20px;
  // background: var(--clr-accent, blue);
  background: #146eb4;
  // outline: 5px solid #fff;
  // outline-offset: 5px;
  border-radius: 0.25em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear,
    -webkit-transform 250ms ease-in-out;
}
.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.9;
}

// .logo {
//   max-width: 100px;
//   height: auto;
//   position: absolute;

// }

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: lowercase;
}
.section-subtitle-hero {
  text-align: start;
  font-size: 2rem;
  font-size: clamp(1.5rem, calc(2.25vw + 0.5rem), 2.25rem);
  line-height: 1;
  color: #fff;
}
.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  // margin-bottom: 2rem;
  margin-bottom: 5rem;
}
.section-subtitle {
  text-align: center;
  font-size: clamp(1.25rem, calc(2.25vw + 0.2rem), 2rem);
  line-height: 1;
  color: #17353d;
  // margin-bottom: 1.25rem;
  margin-bottom: 2.5rem;
  text-transform: lowercase;
}

.hero {
  color: white;
  text-align: center;
  padding: 17.5em 0;
  background: #222;
}
@supports (background-blend-mode: multiply) {
  .hero {
    // background: url(img/malaysia.jpg), radial-gradient(#444, #111);
    background: url(img/malaysiahero.jpg), radial-gradient(#b9b6b6, #444444);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.featured-about {
  background: #eee;
}
.featured-contact {
  background: #fff;
}

.featured__item {
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
  min-width: 10em;
}
.featured__details {
  margin: 0.9em;
  font-size: 1.25em;
  align-content: center;
}

/* Form */
.background {
  //background: #fff;
  font-size: 12px;
  //font-weight: 100;
  letter-spacing: 1.4px;
}
.background {
  display: flex;
  min-height: auto;
}
.container-form {
  //width: 85%;
  //max-width: 65em;
  flex: 0 1 950px;
  margin: auto;
  padding: 10px;
}
.screen {
  position: relative;
  background: #eee;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #17353d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.screen-header-left {
  margin-right: auto;
}
.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: #fff;
}
.screen-header-button.close {
  background: #ed1c6f;
}
.screen-header-button.maximize {
  background: #e8e925;
}
.screen-header-button.minimize {
  background: #74c54f;
}
.screen-header-right {
  display: flex;
}
.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}
.screen-body {
  display: flex;
}
.screen-body-item {
  flex: 1;
  padding: 50px;
}
.screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #17353d;
  font-size: 26px;
}
.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}
.app-contact {
  margin-top: auto;
  font-size: 16px;
  color: #17353d;
}
.app-form-group {
  margin-bottom: 15px;
}
.app-form-group.message {
  margin-top: 80px;
}
.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}
.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  color: #17353d;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}
.app-form-control::placeholder {
  color: #17353d;
}
.app-form-control:focus {
  border-bottom-color: #faa700;
}
.app-form-button {
  background: none;
  border: none;
  color: #17353d;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.app-form-button:hover {
  color: #faa700;
}
.ul-form {
  list-style: none;
  padding: 0;
}
.aform {
  text-decoration: none;
}
/* media queries form*/
@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
/* /media queries form*/

/* /form */

/* footer */

.footer {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

/* /footer */

.hero {
  --clr-accent: #faa700;
}
